@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'PT Astra Sans';
    src:
      url('/assets/fonts/PT-Astra-Sans/pt-astra-sans_regular.woff2') format('woff2'),
      url('/assets/fonts/PT-Astra-Sans/pt-astra-sans_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'PT Astra Sans';
    src:
      url('/assets/fonts/PT-Astra-Sans/pt-astra-sans_italic.woff2') format('woff2'),
      url('/assets/fonts/PT-Astra-Sans/pt-astra-sans_italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
  }


  @font-face {
    font-family: 'PT Astra Sans';
    src:
      url('/assets/fonts/PT-Astra-Sans/pt-astra-sans_bold.woff2') format('woff2'),
      url('/assets/fonts/PT-Astra-Sans/pt-astra-sans_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'PT Astra Sans';
    src:
      url('/assets/fonts/PT-Astra-Sans/pt-astra-sans_bold-Italic.woff2') format('woff2'),
      url('/assets/fonts/PT-Astra-Sans/pt-astra-sans_bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
  }

  html {
    @apply font-sans;
  }
  /* Set up some default image behavior for nicer images */
  img {
    @apply w-auto  shadow-md border-2 border-transparent !important;
  }
  img:hover {
    @apply border-2 border-gray-100;
  }
  /* Overrides for Tailwind Typography prose class */
  .prose a {
    @apply dark:text-gray-400;
  }
  .prose a:hover {
    @apply dark:text-gray-500;
  }
  .prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 .prose hr, .prose strong {
    @apply dark:text-gray-400;
  }
  .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
    scroll-margin-top: 3.5em;
  }
  .prose pre code {
    @apply overflow-x-auto !important;
  }
  .prose .footer-nav a {
    @apply no-underline !important;
  }
  .prose ul.contains-task-list,
  .prose ul.spacelog  {
    @apply list-none -ml-6 !important;
  }
  .prose ul.contains-task-list .task-list-item,
  .prose ul.spacelog {
    ::before {
      @apply hidden !important;
    }
  }

  /* Define blockquotes and some standard callout blocks */
  /* blockquote {
    @apply rounded-lg p-4 bg-gray-100 dark:bg-gray-500 border-gray-200 border-l-8 dark:border-gray-700;
  }
  .callout {
    @apply px-8 py-4 mb-4 rounded-lg bg-yellow-50;
  }
  .callout, .callout strong, .callout em {
    @apply dark:bg-gray-400 dark:text-gray-900;
  }
  .callout-blue {
    @apply px-8 py-4 mb-4 rounded-lg bg-blue-50;
  }
  .callout-blue, .callout-blue strong, .callout-blue em {
    @apply dark:text-gray-200 dark:bg-blue-900;
  }
  .callout-pink {
    @apply px-8 py-4 mb-4 rounded-lg bg-pink-50;
  }
  .callout-pink, .callout-pink strong, .callout-pink em {
    @apply dark:text-gray-200 dark:bg-pink-900;
  }
  .callout-green {
    @apply px-8 py-4 mb-4 rounded-lg bg-green-50;
  }
  .callout-green, .callout-green strong, .callout-green em {
    @apply dark:text-gray-200 dark:bg-green-900;
  } */
  /* .warning {
    @apply px-8 py-4 mb-4 rounded-lg bg-red-800 text-gray-50;
  }
  .warning, .warning strong, .warning em {
    @apply text-gray-50 dark:bg-red-900  dark:text-gray-200;
  } */

  /* Overrides for nav/Table of Contents block */
  nav ul {
    @apply ml-0 text-gray-500;
  }
  nav ul ul {
    @apply ml-6 text-gray-500;
  }
  nav ul li a {
    @apply mb-1 pt-2 pr-4 pb-1 pl-2 w-full block text-gray-500 dark:text-gray-500;
  }
  nav ul li a:hover {
    @apply text-gray-900 dark:text-gray-400;
  }
  nav ul li a.active {
    @apply font-semibold;
  }
  nav.toc ol li {
    @apply pt-2 !important;
  }
  nav.toc ol li li {
    @apply pt-2 ml-4;
  }
  nav.toc ol li a {
    @apply text-gray-500;
  }
  nav.toc ol li a:hover {
    @apply text-gray-900;
  }
  .prose .footer-nav a:hover {
    @apply dark:text-gray-400 !important;
  }

/* Utilities and misc */
  .adjust  p img, .adjust img, .adjust p iframe, .adjust iframe, .twitter-tweet {
    @apply shadow-md ml-auto mr-auto  p-2 !important;
  }
  .adjust  p img:hover, .adjust img:hover {
    @apply shadow-xl
  }
  .adjust img.button {
    @apply w-auto  shadow-none !important;
  }
  .text-align-center {
    @apply flex justify-center;
  }
  .icon-spacer {
    width: "24px";
  }
  /* input {
   @apply dark:text-gray-400;
  } */


  table.fs-tree-table  {
    display: block;
    /* font-size:12px; */
  }
  table.fs-tree-table tbody {
    border: 1px solid #8888;
    /* overflow: hidden; */
  }
  table.fs-tree-table tr td {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.2;
  }
  table.fs-tree-table tr td:first-child {
    font-family: monospace;
    /* border-bottom: none; */
    /* border-top: none; */
    white-space: pre;
  }

  /**
  * @credits https://github.com/qjebbs/vscode-markdown-extended
  * @copyright 2018 jebbs
  * @license MIT
  */

  @font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v92/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }

  .admonition {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    position: relative;
    margin: 1.5625em 0;
    padding: 0 1.2rem;
    border-left: .4rem solid rgba(68, 138, 255, .8);
    border-radius: .2rem;
    background-color: rgba(255, 255, 255, 0.05);
    overflow: auto;
  }

  .admonition>p {
    margin-top: .8rem;
  }

  .admonition>.admonition-title {
    margin: 0 -1.2rem;
    padding: .8rem 1.0rem .8rem 1.0rem;
    border-bottom: 1px solid rgba(68, 138, 255, .2);
    background-color: rgba(68, 138, 255, .1);
    font-weight: 700;
  }

  .admonition>.admonition-title:before {
    position: absolute;
    left: 1.0rem;
    font-size: 1.5rem;
    /* color: rgba(68, 138, 255, .8); */
    /* content: "\f05b"; */
  }

  .admonition>.admonition-title:before {
    font-family: Material Icons;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.2rem;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
  }

  .admonition.note>.admonition-title {
    padding-left: 3.3rem;
  }

  .admonition.note>.admonition-title:before {
    color: rgba(68, 138, 255, .8);
    content: "\f05b";
  }

  .admonition.summary, .admonition.abstract, .admonition.tldr {
    border-left-color: rgba(0, 176, 255, .8);
  }

  .admonition.summary>.admonition-title, .admonition.abstract>.admonition-title, .admonition.tldr>.admonition-title {
    background-color: rgba(0, 176, 255, .1);
    border-bottom-color: rgba(0, 176, 255, .2);
    padding-left: 3.3rem;
  }

  .admonition.summary>.admonition-title:before, .admonition.abstract>.admonition-title:before, .admonition.tldr>.admonition-title:before {
    color: rgba(0, 176, 255, 1);
    content: "\E8D2";
  }

  .admonition.hint, .admonition.tip {
    border-left-color: rgba(0, 191, 165, .8);
  }

  .admonition.hint>.admonition-title, .admonition.tip>.admonition-title {
    background-color: rgba(0, 191, 165, .1);
    border-bottom-color: rgba(0, 191, 165, .2);
    padding-left: 3.3rem;
  }

  .admonition.hint>.admonition-title:before, .admonition.tip>.admonition-title:before {
    color: rgba(0, 191, 165, 1);
    content: "\E80E";
  }

  .admonition.info, .admonition.todo {
    border-left-color: rgba(0, 184, 212, .8);
  }

  .admonition.info>.admonition-title, .admonition.todo>.admonition-title {
    background-color: rgba(0, 184, 212, .1);
    border-bottom-color: rgba(0, 184, 212, .2);
    padding-left: 3.3rem;
  }

  .admonition.info>.admonition-title:before, .admonition.todo>.admonition-title:before {
    color: rgba(0, 184, 212, 1);
    content: "\E88E";
  }

  .admonition.success, .admonition.check, .admonition.done {
    border-left-color: rgba(0, 200, 83, .8);
  }

  .admonition.success>.admonition-title, .admonition.check>.admonition-title, .admonition.done>.admonition-title {
    background-color: rgba(0, 200, 83, .1);
    border-bottom-color: rgba(0, 200, 83, .2);
    padding-left: 3.3rem;
  }

  .admonition.success>.admonition-title:before, .admonition.check>.admonition-title:before, .admonition.done>.admonition-title:before {
    color: rgba(0, 200, 83, 1);
    content: "\E876";
  }

  .admonition.question, .admonition.help, .admonition.faq {
    border-left-color: rgba(100, 221, 23, .8);
  }

  .admonition.question>.admonition-title, .admonition.help>.admonition-title, .admonition.faq>.admonition-title {
    background-color: rgba(100, 221, 23, .1);
    border-bottom-color: rgba(100, 221, 23, .2);
    padding-left: 3.3rem;
  }

  .admonition.question>.admonition-title:before, .admonition.help>.admonition-title:before, .admonition.faq>.admonition-title:before {
    color: rgba(100, 221, 23, 1);
    content: "\E887";
  }

  .admonition.warning, .admonition.attention, .admonition.caution {
    border-left-color: rgba(255, 145, 0, .8);
  }

  .admonition.warning>.admonition-title, .admonition.attention>.admonition-title, .admonition.caution>.admonition-title {
    background-color: rgba(255, 145, 0, .1);
    border-bottom-color: rgba(255, 145, 0, .2);
    padding-left: 3.3rem;
  }

  .admonition.attention>.admonition-title:before {
    color: rgba(255, 145, 0, 1);
    content: "\E417";
  }

  .admonition.warning>.admonition-title:before, .admonition.caution>.admonition-title:before {
    color: rgba(255, 145, 0, 1);
    content: "\E002";
  }

  .admonition.failure, .admonition.fail, .admonition.missing {
    border-left-color: rgba(255, 82, 82, .8);
  }

  .admonition.failure>.admonition-title, .admonition.fail>.admonition-title, .admonition.missing>.admonition-title {
    background-color: rgba(255, 82, 82, .1);
    border-bottom-color: rgba(255, 82, 82, .2);
    padding-left: 3.3rem;
  }

  .admonition.failure>.admonition-title:before, .admonition.fail>.admonition-title:before, .admonition.missing>.admonition-title:before {
    color: rgba(255, 82, 82, 1);
    content: "\E14C";
  }

  .admonition.danger, .admonition.error, .admonition.bug {
    border-left-color: rgba(255, 23, 68, .8);
  }

  .admonition.danger>.admonition-title, .admonition.error>.admonition-title, .admonition.bug>.admonition-title {
    background-color: rgba(255, 23, 68, .1);
    border-bottom-color: rgba(255, 23, 68, .2);
    padding-left: 3.3rem;
  }

  .admonition.danger>.admonition-title:before {
    color: rgba(255, 23, 68, 1);
    content: "\E3E7";
  }

  .admonition.error>.admonition-title:before {
    color: rgba(255, 23, 68, 1);
    content: "\e000";
  }

  .admonition.bug>.admonition-title:before {
    color: rgba(255, 23, 68, 1);
    content: "\E868";
  }

  .admonition.example, .admonition.snippet {
    border-left-color: rgba(0, 184, 212, .8);
  }

  .admonition.example>.admonition-title, .admonition.snippet>.admonition-title {
    background-color: rgba(0, 184, 212, .1);
    border-bottom-color: rgba(0, 184, 212, .2);
    padding-left: 3.3rem;
  }

  .admonition.example>.admonition-title:before, .admonition.snippet>.admonition-title:before {
    color: rgba(0, 184, 212, 1);
    content: "\e86f";
  }

  .admonition.quote, .admonition.cite {
    border-left-color: rgba(158, 158, 158, .8);
  }

  .admonition.quote>.admonition-title, .admonition.cite>.admonition-title {
    background-color: rgba(158, 158, 158, .1);
    border-bottom-color: rgba(158, 158, 158, .2);
    padding-left: 3.3rem;
  }

  .admonition.quote>.admonition-title:before, .admonition.cite>.admonition-title:before {
    color: rgba(158, 158, 158, 1);
    content: "\E244";
  }

} /* base layer*/